@font-face {
    font-family: 'Menoe Grotesque';
    src: url('../static/fonts/menoe.woff') format('woff');
    src: url('../static/fonts/menoe.woff2') format('woff2');
    src: url('../static/fonts/menoe.ttf') format('truetype');
}

@font-face {
    font-family: 'Menoe Grotesque';
    src: url('../static/fonts/menoe-italic.woff') format('woff');
    src: url('../static/fonts/menoe-italic.woff2') format('woff2');
    src: url('../static/fonts/menoe-italic.ttf') format('truetype');
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Menoe Grotesque', 'Courier New', Courier, monospace;
    font-size: 16px;
}

p {
    font-size: 1.2em;
    line-height: 1.3em;
}

a {
    color: #000000;
    font-size: 1.2em;
    font-style: italic;
}

.content {
    display: flex;
    margin: 2em;
}

.about {
    flex-direction: column;
    max-width: 30em;
}

.links {
    margin-top: 1.3em;
}

.links > a + a {
    margin-left: 0.5em;
}

.pic > .image {
    width: 10em;
    margin-left: 2em;
}

@media (min-width: 320px) and (max-width: 767px) {
    .content {
        margin: 1.5rem;
        flex-direction: column-reverse;
    }

    .links {
        white-space: nowrap;
    }

    .links > a {
        font-size: 1em;
    }

    .links > a + a {
        margin-left: 0.3em;
    }

    .pic > .image {
        margin: 0 0 1.3em 0;
    }
}